name: Update Credly Badges

on:
  #schedule:
    # Runs daily at 2 AM UTC
  #  - cron: "0 2 * * *"
  workflow_dispatch:
  #push:
  #  branches:
  #    - main

jobs:
  update-badges:
    name: Update README with Credly Badges
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Update Credly Badges
        uses: pemtajo/badge-readme@main
        with:
          CREDLY_USER: madis-koosaar
          # Set to 0 to show all badges, or specify a number for the most recent ones
          NUMBER_LAST_BADGES: 0
